*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

html{
  height:100%;
}

body {
  background: hsl(210, 60%, 98%);
  width:100%;
  min-height:100%;
  font-size:.95em;
  font-weight:500;
}

#root{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  padding:2rem 0;
}